<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="http://www.stanford.edu/~rkpandey/cgi-bin//images/rkpDavidson.jpg" alt>
		</div>
		<div class="item">
			<img src="http://aawp.stanford.edu/images/stanford.jpg" alt>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
</div>
<h1>Basmati Raas</h1>
<p>Welcome to Basmati Raas. We are a co-ed, 16-member Indian dance team that competes across the country in a form of dance known as Garba Raas.  With an unforgettable routine, we combine powerful moves, intricate costumes, and a colorful storyline. Our performances have taken us to competitions and shows in New York City, Miami, Ann Arbor, New Jersey, and Los Angeles. With the contagious laughter and serious work ethic that grace our every practice, we dare you to try and not fall in love with Basmati Raas.</p>
