<p class="announcement"> Auditions will be held on September 28th and 29th, 2013. <br></br>Check here during Week 1 for more details! </p>

<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<% @images.each do |image_name, attrs|%>
			<div class="item <%= 'active' if attrs["active"] %>">
				<%= image_tag "/assets/#{image_name}", class: "displayed" %>
       			<div class="container">
         			<div class="carousel-caption">
                     	<h1 class="caption-heading"><%= attrs["caption"] %></h1>
         			</div>
       			</div>
     		</div>
		<%  end %>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
</div>

<p class="descriptionText">	Welcome to Basmati Raas. We are a co-ed, 16-member Indian dance team that competes across the country in a form of dance known as Garba Raas.  With an unforgettable routine, we combine powerful moves, intricate costumes, and a colorful storyline. Our performances have taken us to competitions and shows in New York City, Miami, Ann Arbor, New Jersey, and Los Angeles. With the contagious laughter and serious work ethic that grace our every practice, we dare you to try and not fall in love with Basmati Raas.</p>

<p class="title">Contributors </p>
<div class="row-fluid">
	<div class="span3">
		<a href="http://www.vanlines.com" title="Students planning on moving in the future can click here to compare moving quotes from top moving companies in Stanford, California"><img src="/assets/vanLines.png"></img></a>
	</div>
	<div class="span3">
		<p class="ad">Stanford dancers that are thinking about enhancing their eyesight will want to talk to <a class="links" href="http://stephenslade-md.com"> Stephen Slade MD </a> to gain knowledge about LASIK eye surgery and learn how it can improve eyesight.</p>
	</div>
	<div class="span3">
		<p class="ad">Students who are physically challenged or have an accident can still get around with <a class="links" href="http://www.allmobilityscooters.com"> mobility scooters </a> .</p>
	</div>
	<div class="span3">
		<p class="ad">Stanford students in need of eyecare treatments should connect with the leading <a class="links" href="http://www.beacheye.com"> Orange County cataract surgery </a> office to find out what eyecare options are available.</p>
	</div>	
</div>