<h1>Sponsorship</h1>

<h3>Performances</h3>
<p>Besides competing across the nation, Basmati Raas performs at various on-campus and off-campus events such as weddings, company events, and other occasions. Please contact Ankita Patro and Shilpa Sethuraman to arrange a performance by Basmati Raas.</p>

<h3>Sponsorship</h3>
<p>As a student group, we receive limited funding from the university which is not enough to cover the yearly expenses associated with performing, such as costumes, props, backdrops, travel, and lodging.</p>

<p>Due to the large number of people that we come into contact with throughout the year, we believe that our organization is a great vehicle for a business to reach prospective customers: Please contact Financial Manager Arjun Aggarwal to sponsor or donate to the team.</p>
