<div ng-show="errorStatus" class="alert alert-error">
	<a class="close" data-dismiss="alert">×</a>
	{{errorStatus}}
</div>
<div ng-show="successStatus" class="alert alert-success">
	<a class="close" data-dismiss="alert">×</a>
	{{successStatus}}
</div>
<div class="upcoming centeredText">
	<h3>Upcoming Performances
		<i ng-show="allowCreate" ng-click="showPerfCreation()" class="icon-plus-sign icon"></i>
	</h3>
	<div ng-show="createNew">
		<form name="perfForm">
			<input type="text" placeholder="Title" ng-model="form.event" required/>
			<input type="date" placeholder="YYYY-MM-DD" ng-model="form.time" required/>
			<input type="text" placeholder="Location" ng-model="form.place" required/>
			<textarea rows="2" placeholder="Description" ng-model="form.description"/>
			<button ng-click="save()" ng-disabled="isSaveDisabled()">Add</button>
			<i ng-click="cancel()" class="icon-remove-sign icon"></i>
		</form>
	</div>
	<div class="performance" ng-repeat="p in performances" ng-class="{performanceEditing: isActivePerf(p)}">
		<div class="performanceTitle bold">
			{{ p.event }}
		</div>
		<div class="userActions">
			<i ng-click="edit(p)" class="icon-pencil"></i>
			<i ng-click="deletePerf(p.id)" class="icon-ban-circle"></i>
		</div>
		<div class="performanceLogistics">{{ p.time | date:'yyyy-MM-dd'}}, <a class="linkStyle" href='http://maps.google.com/maps?q={{p.place}}'>{{ p.place }}</a></div>
		<div class="centeredText">{{ p.description }}</div>
	</div>
</div>