<div class="span3 userList">
  <li class="seeAll bold">
    <a href="/users">&lsaquo;&lsaquo; See All</a>
  </li>
  <li class="userClick" ng-repeat="u in users">
  	<div ng-click="open(u, $index)" ng-class="{bold: getFullName(u) == getFullName(user)}">{{getFullName(u)}}</div>
  </li>
</div>
<div class="row-fluid">
  <div class="span9 userDetail">
    <div class="span6">
      <img ng-class="{mainImgM: user.gender == 'M', mainImgF: user.gender == 'F'}" ng-src="{{user.avatar_url}}">

      <hr>
      <div>
        <button ng-show="curIndex > 0" class="leftFloat" ng-click="prevMember()">Previous</button>
        <button ng-show="curIndex < users.length - 1" class="rightFloat" ng-click="nextMember()">Next</button>
      </div>
      
    </div>
    <div class="span6 userWritten" >
      <h2 class="userTitle">
        <span ng-show="user.is_captain">
          <img class="icon2" alt="Captain" title="Captain!" src="/assets/star_icon.png">
        </span>
          {{getFullName(user)}}
          <a ng-href="/users/{{user.id}}/edit">
            <i ng-show="canEdit" class="icon-pencil"></i>
          </a>
      </h2>

      <div>
        <a href="mailto:{{user.sunet}}@stanford.edu" target="_blank"><img class="icon2" alt="Email" src="/assets/email_icon.png">
        </a>
        <a ng-show="user.facebook" href="{{user.facebook}}" target="_blank"><img class="icon2" alt="Facebook" src="/assets/facebook_icon.jpg">
        </a>
        <a ng-show="user.twitter" href="{{user.twitter}}" target="_blank"><img class="icon2" alt="Twitter" src="/assets/twitter_icon.jpg">
        </a>
      </div>

      <p ng-show="user.year"><span class="bold">Year:</span> {{user.year}}</p>
      <p ng-show="user.hometown"><span class="bold">Hometown:</span> {{user.hometown}}</p>
      <p ng-show="user.bio"><span class="bold">Short Biography:</span> {{user.bio}}</p>
      <p ng-show="user.memory"><span class="bold">Favorite Raas Memory:</span> {{user.memory}}</p>
      <p ng-show="user.quote"><span class="bold">Favorite Quote:</span> {{user.quote}}</p>
    </div>
  </div>
</div>

<!-- ng-show="curIndex !== 0"  -->
<!-- ng-show="curIndex !== users.length - 1" -->