<div class="row-fluid">
  <div class="span3 userList">
    <li class="seeAll">
      <a href="/users">&lsaquo;&lsaquo; See All</a>
    </li>
    <li class="userClick" ng-repeat="u in users">
    	<div ng-click="open(u)">{{getFullName(u)}}</div>
    </li>
  </div>
  <div class="span9 userDetail">
    <div class="span6">
      <img class="mainImg" ng-src="{{user.avatar_url}}">
    </div>
    <div class="span6 userWritten" ng-class="{genderMale: user.gender == 'M', genderFemale: user.gender == 'F'}">
      <h2>
        <span ng-show="user.is_captain">
          <img class="icon2" alt="Captain" title="Captain!" src="/assets/star_icon.png">
        </span>
         {{getFullName(user)}}
         <a href="mailto:{{user.sunet}}@stanford.edu"><img class="icon" alt="Email" src="/assets/email_icon.png"></a>
      </h2>
      <p>Year: <strong>{{user.year}}</strong></p>
      <p>Bio: <strong>{{user.bio}}</strong></p>
      <div ng-show="canEdit">
        <a href="/users/{{user.id}}/edit">Edit</a>
      </div>
    </div>
</div>