<h1 class="codeBold">
  Members 2015-16
  <img ng-click="toggleSearch()" alt="Search" class="icon" src="/assets/search_icon.png">
</h1>

<div ng-show="showSearch">
  <p>Search by name:</p> <input ng-change="getRows(query, orderProp)" ng-model="query">
  <p>Sort by:</p>
  <select ng-change="getRows(query, orderProp)" ng-model="orderProp">
    <option value="first_name">First Name</option>
    <option value="last_name">Last Name</option>
    <option value="year">Year</option>
    <option value="gender">Gender</option>
  </select>
</div>

<table class="table">
  <tr ng-repeat="userRow in groupedUsers">
    <td ng-repeat="user in userRow">
      <a href="#/users/{{user.id}}">
        <div class="imgWrap">
          <img class="circular" src="{{user.avatar_url}}" ng-class="{captainHighlight: user.is_captain}"></img>
          <p class="imgDescription">{{user.first_name}}</p>
      </div>
      </a>
    </td>
  </tr>
</table>

<hr>

<button ng-click="toggleAlumni()">Show Alumni</button>
<div ng-show="showAlumni">
  <table class="table">
  <tr ng-repeat="userRow in groupedAlumni">
    <td ng-repeat="user in userRow">
      <a href="#/users/{{user.id}}">
        <div class="imgWrap">
          <img class="circular" src="{{user.avatar_url}}" ng-class="{captainHighlight: user.is_captain}">
          <p class="imgDescription">{{user.first_name}}</p>
        </div>
      </a>
    </td>
  </tr>
  </table>
  <hr>
</div>

<br></br>

<h1 class="codeBold">
  About Basmati Raas
</h1>
<p class="sans">Stanford University's premier garba raas team began in 2002, when a group of students led by Aalap Jani and Nirali Vora decided to take their dance moves to the next level. Having performed dances for Stanford's annual Indian cultural show for a few years, they were ready to take part in the West Coast's premier competition, <a class="linkStyle" href="http://www.garbawithattitude.com/">Garba with Attitude</a>. The rest is history.</p>
<p class="sans">Today, Stanford's Basmati Raas (a pun involving the common Indian type of rice known as "Basmati Rice") represents Stanford across the nation, and has placed at a major competition every single year. Basmati Raas prides itself for the family, friendship, and fun that permeates the team and is truly the reason for its success. With its colorful costumes, intricate props, and passionate dancers, Basmati Raas tells an unforgettable story on stage each year.
</p>