<h1 class="codeBold">Team Videos <img ng-click ="showUploader()" class="icon" src="/assets/plus_icon.png"></img></h1>
<br>
<div ng-show="errorStatus" class="alert alert-error">
	<a class="close" data-dismiss="alert">×</a>
	{{errorStatus}}
</div>
<div ng-show="successStatus" class="alert alert-success">
	<a class="close" data-dismiss="alert">×</a>
	{{successStatus}}
</div>
<form ng-show="isUploadable">
	<input ng-model="link" type="text" placeholder="Youtube link"></input> <br />
	<input ng-model="description" type="text" placeholder="Description"></input> <br />
	Send Email <input ng-model="sendEmail" type="checkbox"></input> <br />
	<br></br>
	<button ng-click="click()">Add video!</button>
</form>

<div class="vidContainer" ng-repeat="video in videos">
	<div class="row-fluid">
		<div class="span8">
			<iframe class="youtube-player" type="text/html" width="640" height="400" src="http://www.youtube.com/embed/{{video.vid}}" allowfullscreen frameborder="1"></iframe>
		</div>
		<div class="span3">
			<img class="delete" ng-click="deleteVid(video.id)" src="/assets/x.png"></img>
			<div class="videoText">
  				<p class="videoDescription sans">{{video.description}}</p>
  				<p class="sans"><a href="/users/sunet?sunet={{video.uploader}}">{{video.uploader}}</a><br><span class="videoTime">Added {{video.created_at | fromNow}}</span></p>
 			</div>
 		</div>
 	</div>
 </div>
