<head>
<%= stylesheet_link_tag "userStyles", :media => "all" %>
</head>

<div ng-app="usersbr">
<h1>Members 2013-14</h1>
<!-- <table class="table">
  <% @users.each_slice(4) do |users_row| %>
    <tr>
      <% users_row.each do |u| %>
        <td class="user circular">
          <a href="#" ng-click="showUser(<%= u.id %>)">
            <div class="image">
              <%= u.get_picture %>
              <h2 id="htext">
                <span><%= u.full_name %></span>
              </h2>
            </div>
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table> -->
<div ng-view></div>

</div>
