<h3><%= @user.full_name %></h3>
<p>An image will go here</p>
<p>Year: <strong><%= @user.year %></strong></p>
<p>Bio: <strong><%= @user.bio %></strong></p>
<%= link_to "Edit Profile", :action => :edit %>