<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>A New Video Has been Uploaded!</h3>
    <p>
      The Description Is: <%= @video.description %> <br/>
    </p>
    <p> You can access the video at this link: <a href="http://www.basmatiraas.com/videos#/videos">http://basmatiraas.herokuapp.com/videos#/videos</a></p>
    <p> This is the link of the video, if you would like to access it directly: <%= @video.link %>
    </p>
  </body>
</html>