<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>A New Video Has been Uploaded!</h3>
    <p>
      "<%= @video.description %>" <br/>
    </p>
    <p> Check out the video and leave some comments at: <a href="http://www.basmatiraas.com/videos">http://basmatiraas.com/videos</a></p>
  </body>
</html>