<h3>We're sorry, but something went wrong. Charmander will help you. </h3>

<div class="centeredText">
	<%= image_tag "charmander.jpg" %>
	<p>Or contact support: <a href="mailto:brwebmaster@lists.stanford.edu"><i class="icon-envelope"></i></a></p>
</div>