<h1>New user</h1>

<form id="new-user" name="user">
  <div class="field">
    <label for="name"> Name:</label>
    <input type="text" name="name" id="name" >
  </div>

  <div class="field">
    <label for="bio"> Bio:</label>
    <input type="text" name="bio" id="bio">
  </div>

  <div class="actions">
    <input type="submit" value="Create User" />
  </div>

</form>

<a href="#index">Back</a>

