/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
 	background-image: url('/assets/bullseyes.png');
	background-repeat: repeat;
	font-family: 'Dancing_Script', Georgia, Times, serif;
 } 

.box {
  background-color: white;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.footer {
	text-align: center;
	padding: 50px;
}

.titleText {
	text-align: right;
	font-family: 'Elephant';
}

.centeredText {
	text-align: center;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.upcoming{
	width: 250px;
	min-height: 300px;
	text-align: center;
	overflow: scroll;
	overflow-x: auto;
	background-color: #FFC5C0;
}

.upcoming p {
	text-align: center;
}

.year {
	border-bottom-style: dashed;
	border-bottom-color: black;
}

.announcement {
	color: #8A1B07;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}

.eventTitle {
	font-weight: bold;
}

.performance {
	margin: 5px;
	border-top: black dotted 3px;
}

.icon {
	width: 15px;
	cursor: pointer;
}

.sortable th .current {
	padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sortable th .asc {
	background-image: url(/assets/up_arrow.png);  
}

.sortable th .desc {
	background-image: url(/assets/down_arrow.png); 
}

.privileged {
	border: 2px solid black;
	padding: 10px;
}

.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5;
}

.caption-heading {
	color: #fff;
	text-shadow: 0 1px 1px rgba{0,0,0,.4};
}

.title {
	padding-top: 60px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
}

p {
	padding-top: 10px;
	font-size: 16px;
}

.icon2 { 
	width: 25px;
}

.titleText {
	position: relative;
	margin-top: -20px;
	margin-left: 1000px;
	color: white;
}

.titleText>a {
	color: #fff;
}

.headerDiv {
	position: relative;
}