/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
	font-family: CodeBold;
	src: url("/assets/CodeBold.otf") format("opentype");
}

@font-face {
	font-family: CodeLight;
	src: url("/assets/CodeLight.otf") format("opentype");
}

@import url('http://fonts.googleapis.com/css?family=Inika');


 body {
 	background-image: url('/assets/bullseyes.png');
	background-repeat: repeat;
	font-family: 'Dancing_Script', Georgia, Times, serif;
 } 

.codeBold {
	font-family: CodeBold;
	margin-left: 10px;
}

.inika{
	font-family: Inika;
	margin-left: 15px;
	font-size: 18px;
	line-height: 135%;
}

.fontInika{
	font-family: Inika;
}

.info{
	font-family: Inika;
	font-size: 12px;
	font-style: italic;
}

.box {
  background-color: white;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-family: Inika;
}

.footer {
	text-align: center;
	padding: 50px;
}

.left {
	text-align: left;
}

.centeredText {
	text-align: center;
}

.centeredImage {
	display:block;
  margin:auto;
}

.contactImage {
	width: 500px;
}

.titleText {
	text-align: right;
	font-family: Inika;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.upcoming {
	width: 250px;
	min-height: 300px;
	overflow: scroll;
	overflow-x: auto;
}

.year {
	border-bottom-style: dashed;
	border-bottom-color: black;
}

.announcement {
	color: #8A1B07;
	font-weight: bolder;
	text-align: center;
	font-size: 20px;
	font-family: Inika;
}

.bold {
	font-weight: bold;
}

.performance {
	margin: 5px;
	border-top: black dotted 3px;
}

.performanceTitle {
	margin-top: 4px;
	font-size: 18px;
}

.performanceLogistics {
	font-size: 10px;
	margin-bottom: 4px;
	color: #BD5148;
}

.icon {
	width: 15px;
	cursor: pointer;
}

.sortable th .current {
	padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sortable th .asc {
	background-image: url(/assets/up_arrow.png);
}

.sortable th .desc {
	background-image: url(/assets/down_arrow.png);
}

.privileged {
	border: 2px solid black;
	padding: 10px;
}

.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5;
}

.caption-heading {
	color: #fff;
	text-shadow: 0 1px 1px rgba{0,0,0,.4};
}

.title {
	padding-top: 60px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

p {
	padding-top: 10px;
	font-size: 16px;
}

.icon2 { 
	width: 25px;
}

.titleText {
	position: absolute;
	top: 80%;
	left: 80%;
	color: white;
}

.headerDiv {
	position: relative;
}

.fontNormal label {
	font-size: 13px;
}

.advertisement {
	display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.vidContainer {
	padding: 5px;
	margin: 5px;
}

.delete {
	visibility: hidden;
	text-align: right;
	font-size: 24px;
	cursor: pointer;
	float: right;
}

.vidContainer:hover .delete {
	visibility: visible;
}

.videoText{
	font-size: 24px;
	margin-top: 125px;
	text-align: center;
}

.videoDescription{
	font-size: 18px;
	font-weight: bold;
}

.videoTime{
	font-size: 11px;
	color: #a8a8a8;
}

iframe{
	border: red;
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($shadow) {
	box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-o-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
}

.circular {
	width: 200px;
	height: 200px;
	@include rounded-corners(150px);
	@include shadow(10px);
}

.imgWrap {
	position: relative;
}

.imgDescription {
  text-transform: uppercase;
  font: bold 22px Helvetica;
  color: black;
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 35%;
  right: 35%;
  text-align: center;
}

.imgWrap:hover .circular {
  opacity: 0.2;
}

.imgWrap:hover .imgDescription {/*
.imgWrap .imgDescription {*/
  visibility: visible;
  opacity: 0.9;
}

.table th, .table td { 
  border-top: none; 
  text-align: center;
}

.userList {
	padding: 10px;
	max-width: 200px;
	text-align: left;
}

.userList li {
	list-style: none;
	cursor: pointer;
}

.userDetail {
	padding: 40px;
}

.seeAll {
	font-size: 16px;
	padding-bottom: 5px;
}

.mainImg {
	width: 300px;
}

.userWritten {
	padding: 10px;
	text-align: left;
}

.genderMale {
	background-color: #E8ACA0;
}

.genderFemale {
	background-color: #FFB1FC;
}

.genderUnknown {
	background-color: gray;
}
