/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.header {
	font-family: 'Elephant', Georgia, Times, serif;
	font-size: 65px;
	line-height: 75px;
	font-weight: bolder;
}

.center {
	float: none; 
	margin: auto;
	text-align: center;
	color: #E81E0B; 
}

.linkCenter{
	text-align: center;
}

.linkCenter2{
	text-align: center;
	padding-top: 50px;
}

.linkCenter3{
	text-align: center;
	padding-bottom: 20px;
	padding-top: -20px;
}

.navbar .brand{
	padding-left: 200px;
}