@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($shadow) {
	box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-o-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
}

.circular {
	width: 200px;
	height: 200px;
	@include rounded-corners(150px);
	@include shadow(10px);
}

.imgWrap {
	position: relative;
}

.imgDescription {
  text-transform: uppercase;
  font: bold 22px Helvetica;
  color: black;
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 35%;
  right: 35%;
  text-align: center;
}

.imgWrap:hover .circular {
  opacity: 0.2;
}

.imgWrap:hover .imgDescription {/*
.imgWrap .imgDescription {*/
  visibility: visible;
  opacity: 0.9;
}

.table th, .table td { 
  border-top: none; 
  text-align: center;
}

.userList {
	padding: 10px;
	max-width: 200px;
	text-align: left;
}

.userList li {
	list-style: none;
	cursor: pointer;
}

.userDetail {
	padding: 40px;
}

.seeAll {
	font-size: 16px;
	padding-bottom: 5px;
}

.mainImgM {
	width: 300px;
	height: 300px;
	border-bottom: 20px solid rgb(199,59,59);
}

.mainImgF {
	width: 300px;
	height: 300px;
	border-bottom: 20px solid #8F3BC7;
}

.userWritten {
	padding: 10px;
	text-align: left;
}

.userInstructions {
	font-size: 12px;
	font-style: italic;
	border: 2px red solid;
	padding: 3px;
	margin-bottom: 10px;
}

