.circular img {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.imgWrap {
	position: relative;
	width: 250px;
	height: 250px;
}

/*sigh... try this when more time: 
http://css-tricks.com/snippets/css/absolute-center-vertical-horizontal-an-image/; */
.imgDescription {
	position: absolute;
	left: 50%; 
	border: dotted red 1px;
	background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  /*-webkit-transition: visibility opacity 0.02s;*/
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.table th, .table td { 
  border-top: none; 
}