// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($shadow) {
	box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
}

.circular {
	width: 200px;
	height: 200px;
	@include rounded-corners(150px);
	@include shadow(10px);
}

.imgWrap {
	position: relative;
}

.imgDescription {
  text-transform: uppercase;
  font: bold 24px Helvetica;
  color: black;
  visibility: hidden;
  position: absolute;
	margin-top: -124px;
  margin-left: 100px;
}

.imgWrap:hover .circular {
  opacity: 0.3;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 0.8;
}

.table th, .table td { 
  border-top: none; 
  text-align: center;
}

.userList {
	background-color: #E86359;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 5px 5px 5px #222;
	max-width: 200px;
}

.userList li {
	list-style: none;
	cursor: pointer;
}

.userDetail {
	position: relative;
	background-image: url("/assets/cork2.jpg");
	background-color: #af7c4a;
	background-size: 500px 500px;
	-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.5),inset 0 0 5px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 2px 5px rgba(0,0,0,0.5),inset 0 0 5px rgba(0,0,0,0.8);
	-ms-box-shadow: inset 0 2px 5px rgba(0,0,0,0.5),inset 0 0 5px rgba(0,0,0,0.8);
	-o-box-shadow: inset 0 2px 5px rgba(0,0,0,0.5),inset 0 0 5px rgba(0,0,0,0.8);
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.5),inset 0 0 5px rgba(0,0,0,0.8);
	padding: 60px 40px 20px;
}

.seeAll {
	font-size: 16px;
	font-style: bold;
	padding-bottom: 5px;
}

.userWritten {
	padding: 10px;
}

.genderMale {
	background-color: #E8ACA0;
}

.genderFemale {
	background-color: #FFB1FC;
}

.genderUnknown {
	background-color: gray;
}