// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vidContainer {
	border: red 2px solid;
	padding: 5px;
	margin: 5px;
	text-align: center;
}